* {
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    background-image: url("../images/background.png");
    
}

body {
    overflow: overlay;
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 20px auto 5px auto;
    text-align: center;
    background: rgb(211, 208, 208);
    overflow: hidden;
    
}

h3 {
    cursor: pointer;
}

h3:hover {
    background-color: #5091e7;
    border: 2px solid red;
}

/* Google fonts */
h1 {
    text-shadow: 0 0 25px #FF0000;
    font-weight: 400;
    font-size: 80px;
    font-family: 'Monoton';
    color: rgb(243, 39, 39);
    margin-block-start: 0.27em;
    margin-block-end: 0.27em;
}

h2 .question{
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    margin: 0px 29% 0px 29%;
    padding: 10px;
}

h3:empty {
    display: none;
}

div:empty {
    display: none;
}

button {
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    background: rgb(66, 66, 248);
    color: rgb(228, 105, 105);
    box-shadow: 0 0 25px rgb(48, 46, 46)
}

.answer-message, .correct-answer, .times-up {
    font-size: 24px;
    padding: 10px;
    font-weight: 600;
}

.wins, .losses, .no-answer {
    font-size: 24px;
    font-weight: 600;
}

.gameover, .final-message, .start-over {
    font-size: 32px;
    font-weight: 700;
}

.image-holder {
    margin-bottom: 5px;
}